/* ---------- Reset default styles for all elements ---------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- body font and bg color ---------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0E0E0;
}

/* ---------- main container ---------- */

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* ---------- Navbar section  ---------- */

.navSection {
    width: 100%;
    background-color: #F5F5F5;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: 10% 45% 25%;
    justify-content: space-between;
}

/* ----------  left side of navbar  ---------- */

.leftNav {
    display: flex;
    align-items: center;
    height: 100%;
}

/* ----------  Logo  ---------- */

.logo {
    display: flex;
    align-items: center;

}

.imgLogo {
    width: 50px;
    height: 50px;
}

img {
    width: 100%;
}

/* ----------  list styles  ---------- */

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    list-style-type: none;
}

li a {
    color: #B71C1C;
}

a {
    text-decoration: none;
}

h3 {
    color: #B71C1C;
    margin-left: 15px;
}

/* ----------  status style  ---------- */

.active {
    background-image: linear-gradient(75deg, #B71C1C, #E57373 90%);
    color: white;
    padding: 12px;
    border-radius: 22px;
    font-weight: bold;
}

/* ----------  Right side of navbar  ---------- */

.rightNav {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
}

/* ----------  icons style  ---------- */

.icons {
    display: flex;
    margin-right: 2rem;
    gap: 2rem;
}

/* ----------  User style  ---------- */

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* ----------  User profile style  ---------- */

.userProfile {
    width: 50px;
    height: 50px;
}

.userProfile img {
    border-radius: 100%;
}

/* ----------  status  ---------- */

.status {
    width: 55px;
    background-color: #81C784;
    padding: 0.4rem;
    border-radius: 5px;
    text-align: center;
}

/* ----------  list button  ---------- */

#toggle:checked+label+ul {
    transform: translateX(0);
}

#toggle:checked+label span:first-child {
    transform: rotate(125deg);
    position: relative;
    top: 10px;
}

#toggle:checked+label span.midLine {
    transform: translateX(10px);
    opacity: 0;
}

#toggle:checked+label span:last-child {
    position: relative;
    transform: rotate(58deg);
}

/* ---------- Responsive styles for tablets  ---------- */

@media screen and (max-width:999px) {

    .userProfile {
        min-width: 36px;
    }

    .logo {
        font-size: 0.9rem;
    }

    .navCenter ul li a {
        font-size: 0.8rem;
    }

    .active {
        padding: 6px;
    }

    .icons a svg {

        width: 13px;
    }

    .status {
        width: 57px;
        padding: 0.2rem;
        font-size: 0.8rem;
    }

    .userProfile {
        width: 40px;
        height: 40px;
    }

    .navSection {
        grid-template-columns: 3% 42% 24%;
    }
}

/* ---------- Responsive styles for mobile devices  ---------- */

@media screen and (max-width:768px) {

    .navSection {
        padding: 1rem;
        grid-template-columns: 3% 89% 3%;

    }

    .navCenter {
        display: none;
    }

    .rightNav{
        gap: 1rem;
    }

    .imgLogo {
        min-width: 27px;
    }

    .icons {
        gap: 1.5rem;
        margin-right: 1rem;
    }

    .icons a svg {
        width: 10px;
    }

    .status {
        width: 46px;
        font-size: 0.5rem;
    }

    h3 {
        margin-left: 10px;
        font-size: medium;
    }

    .mobileNavList {
        position: fixed;
        left: 0;
        background-color: #fff;
        height: 100%;
        top: 0;
        width: 200px;
        padding: 2rem 0 2rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.5rem;
        text-align: left;
        overflow-x: hidden;
        transform: translateX(-350px);
        transition: all 250ms ease-out;
    }

    .line {
        display: block;
        border-bottom: 2px solid;
        width: 14px;
        margin-bottom: 3px;
        transition: all 260ms ease-out;
    }

    .label {
        position: relative;
        top: 17px;
    }
}

@media screen and (min-width:768px) {
    .mobileNav {
        display: none;
    }
}