*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.navSection {
    width: 100%;
    background-color: #fff;
    height: 100px;
    margin-top: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.2);
}

